@using Common.Data
@using HRApp.Model
@using AppLanguage
@using HRApp.Web
@model Common.Data.JsonData
@{
    Layout = null;
    JsonData json = Model;
    int total = json.Total;
    List<UinMenuObjcet> data = json.Data as List<UinMenuObjcet>;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuList</title>
    <script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/layer3.0/layer.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/layer3.0/layer.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Lang.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/string.js?v=@InitAppSetting.Version"></script>
    <link href="~/Scripts/bootstrap-select/bootstrap.min.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select/bootstrap.min.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/bootstrap-paginator/bootstrap-paginator.js?v=@InitAppSetting.Version"></script>
    <link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <link href="~/Content/HtmlEle.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script type="text/javascript">
        var size = parseInt('@total');
        $(function () {
            DrwaPageEle({//分页
                rowBegin: 1,
                rowEnd: size,
                total: 30,
                numberOfPage: size
            }, $('#gridPage'));
            $('#btnQuery').click(function () {
                //获取选择的数据

            });
        });
        function btnOpenSltDialog(id) {
            layerExt.LoadDialog('/CommonDialog/CommonSelectDialog?enumName=EMenuType&Id=' + id, '@Lang.LblChangeParentMenu', {
                area: ['270px', '300px'],
                id:'dialog',
                btns:[lang.cmd.btnAdd,lang.cmd.btnCancel]
            }, function (index, lay) {
                var childObj = $('#dialog').find('iframe')[0].contentWindow;
                var slt = childObj.$('#sltParent').val();
                var tid = childObj.$('#txtId').val();
                if (slt == -1) {
                    layer.alert('@Lang.Tip_PleaseSelect'+' '+'@Lang.LblChangeParentMenu');
                    return;
                }
                //存储当前打开的对话框
                $('body').data('dialog', index);
                bindPostAjax('/Menu/ChangeMenuType', {
                    id: tid,
                    type: slt
                }, function (response, statue) {
                    var lay = layer;
                    if (response.Success) {
                        lay.close(lay.index);
                        lay.close($('body').data('dialog'));
                        lay.alert('操作成功', { title: '@Lang.LblTip' });
                        return;
                    }
                    lay.alert(response.Message, { title: '@Lang.LblTip' });
                });
            });
        }
        function btnControlStatue(id,isStop) {
            bindPostAjax('/Menu/ChangeMenuStatue', {
                id: id,
                isStop:isStop
            }, function (response, statue) {
                var lay = layer;
                if (response.Success) {
                    lay.close(lay.index);
                    lay.alert('操作成功', { title: '@Lang.LblTip' });
                    return;
                }
                lay.alert(response.Message, { title: '@Lang.LblTip' });
            });
        }
    </script>
    <style type="text/css">
        .warm {
            border: solid 2px red;
            padding: 5px;
        }
        .normal {
               border: solid 2px green;
               padding: 5px;
        }
    </style>
</head>
<body>
    <div>
        <div id="tool">
            <span>
                <span>
                    <label>@Lang.LblName</label>
                    <input type="text" id="txtName" />
                </span>
                <span>
                    <label>@Lang.LblKeyWord</label>
                    <input type="text" id="txtKeyWord" />
                </span>
                <span>
                    <button id="btnQuery" class="button buttonSmall">@Lang.BtnQuery</button>
                </span>
                <span class="btns">
                    <button id="BtnAddParent" class="button buttonSmall">@Lang.BtnAddParent</button>
                    <button id="btnAdd" class="button buttonSmall">@Lang.BtnAdd</button>
                </span>
            </span>
        </div>
        <div id="gridArea" class="table table-condensed table-hover table-striped" style="margin-top:10px;">
            <div id="gridPage">

            </div>
            <div id="grid">
                <table class="table">
                    <thead>
                        <tr>
                            <td width="100px">@Lang.LblSortName</td>
                            <td width="100px">@Lang.LblName</td>
                            <td width="100px">@Lang.LblUrl</td>
                            <td width="50px">@Lang.LblStatue</td>
                            <td width="200px;">@Lang.LblOperate</td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < data.Count;i++ )
                        {
                            <tr>
                                <td id="@data[i].Id">@(i+1)</td>
                                <td>@data[i].Name</td>
                                <td>@data[i].Url</td>
                                <td>
                                   @if (data[i].IsEnable)
                                   {
                                        <span class="normal"> @Lang.LblEnable</span>
                                   }

                                   else
                                   {
                                        <span  class="warm" )> @Lang.LblStop</span>
                                   }
                                </td>
                                <td>
                                    <span itemid="@data[i].Id">@Lang.LblEdit</span>
                                    <span pid="@data[i].ParentId" class="@(data[i].IsEnable ? "warm" : string.Empty)" onclick="btnControlStatue('@data[i].Id','@(data[i].IsEnable==true?1:0)')">@(!data[i].IsEnable ? Lang.LblEnable : Lang.LblStop)</span>
                                    @if (data[i].ParentId != -1)
                                    {
                                        <span pid="@data[i].ParentId" onclick="btnOpenSltDialog('@data[i].Id')">@Lang.LblChangeParentMenu</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</body>
</html>
