@using HRApp.Web;
@using AppLanguage;
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
<script src="~/Scripts/layer3.0/layer.js?v=@InitAppSetting.Version"></script>
<script src="~/Scripts/Common/Lang.js?v=@InitAppSetting.Version"></script>
<script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
<script src="~/Scripts/Common/string.js?v=@InitAppSetting.Version"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoodsManage</title>
</head>
<body>
    <div>
        <div>
            <span>
               <span>
                   <label>@Lang.LblName</label>
                   <input type="text" id="txtName" />
               </span>
                <span>
                    <label>@Lang.LblKeyWord</label>
                    <input type="text" id="txtKeyWord"/>
                </span>
                <span>
                    <button id="btnQuery" class="button buttonSmall">@Lang.BtnQuery</button>
                </span>
            </span>
            <span>
            <span>
                <button id="btnNewAdd" class="button buttonSmall">@Lang.BtnNewAdd</button>
                <button id="btnEdit" class="button buttonSmall">@Lang.BtnEdit</button>
            </span>
               
            </span>
        </div>
    </div>
</body>
</html>
