@using AppLanguage;
@using HRApp.Web;
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Lang.LblSpecialSpellNameManage</title>
    <link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.7.2.js?v=@InitAppSetting.Version"></script>*@
    <script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
    <link href="~/Content/HtmlEle.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/Common/HtmlEleExt.js?v=@InitAppSetting.Version"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
        $(function () {
            $('#btnSave').on('click', function () {
                var root = $(".ApiParam");
                var valid = ValidEleIsRequired(root, '.required')
                if (!valid) {
                    return;
                }
                var api = GetXPathObject(root, "apiKey");
                bindPostAjax('/SpellName/SaveSpecialSpellName', api, function (response, statue) {

                });
            });
        });
    </script>
</head>
<body>
    <div class="ApiParam">
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblName :</span>
            <span>
                <input type="text" id="txtName" maxlength="1" apikey="Name" class="required" autocomplete="off" /> @* autocomplete关闭自动记忆功能*@ @*apiKey 调用接口中匹配json的对象属性*@
            </span>
        </div>
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblCode :</span>
            <span>
                <input type="text" id="txtMemnorideCode" apikey="Code" class="required" autocomplete="off" />
            </span>
        </div>
        <div class="alongLine" style="display:none;">
            <span style="width:100px;">@Lang.LblAppSetValue :</span>
            <span>
                <input type="text" id="txtDescription" apikey="Value" class="required" />
            </span>
        </div>
        <div class="alongLine" style="display:none;">
            <span style="width:100px;">@Lang.LblDescription :</span>
            <span>
                <textarea id="txtDescription" apikey="Desc"></textarea>
            </span>
        </div>
    </div>
    <div>
        <button id="btnSave">@Lang.BtnSave</button>
    </div>
</body>
</html>
