@using AppLanguage;
@using HRApp.Web;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>联系人</title>
    <link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.7.2.js?v=@InitAppSetting.Version"></script>*@
    <script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
    <link href="~/Scripts/jquery.combo.select.js/combo.select.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/jquery.combo.select.js/jquery.combo.select.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
    <link href="~/Content/HtmlEle.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/Common/HtmlEleExt.js?v=@InitAppSetting.Version"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
        $(function () {
            $('#btnSave').on('click', function () {
                var root = $(".ApiParam");
                var valid = ValidEleIsRequired(root, '.required')
                if (!valid) {
                    return;
                }
                var api = GetXPathObject(root, "apiKey");
                bindPostAjax('/ContactManage/SaveContacter', api, function (response, statue) {
                    console.log(response);
                });
            });
            $('select').comboSelect({ maxHeight: 100, width: 100 });
        });
    </script>
</head>
<body>
    <div class="ApiParam">
        <div class="alongLine">
            <span style="width:100px;"><span style="color:red;">@Lang.LblName *:</span></span>
            <span>
                <input type="text" id="txtName" apikey="Name" autocomplete="off" /> @* autocomplete关闭自动记忆功能*@ @*apiKey 调用接口中匹配json的对象属性*@
            </span>
        </div>
        <div class="alongLine">
            <span style="width:100px;">类型 :</span>
            <span class="jq22" style="display: inline-table;">
                <select apikey="Code">
                    <option value="">@AppLanguage.Lang.Tip_PleaseSelectParentNode</option>
                    @{
                        foreach (HRApp.Model.CategoryItems item in ViewData["ParentNode"] as List<HRApp.Model.CategoryItems>)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </span>
        </div>
        <div class="alongLine">
            <span style="width:100px;">联系方式 :</span>
            <span>
                <input type="text" id="txtMemnorideCode" apikey="Value" autocomplete="off" />
            </span>
        </div>
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblDescription :</span>
            <span>
                <textarea id="txtDescription" apikey="Desc" maxlength="128"></textarea>
            </span>
        </div>
    </div>
    <div>
        <button id="btnSave" class="button">@Lang.BtnSave</button>
    </div>
</body>
</html>
