@using HRApp.Web;
@using AppLanguage;
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Lang.LblAccountGroup</title>
    <link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/layer3.0/layer.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Lang.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/string.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/My97DatePicker/WdatePicker.js?v=@InitAppSetting.Version"></script>
    <style type="text/css">
        .tmpl {
            display:inline-block;
            margin: 0 30px 30px 0;
        }
        .column {
             display: grid;
        }
        .imgIcon {
            width:128px;
            height:128px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            //SearchEvent();
            $('#btnQuery').click(function () {
                var param = {
                    'StartTime': $('[attr=StartTime]').val(),
                    'EndTime': $('[attr=EndTime]').val()
                };
                SearchEvent(param);
            });
        });
        function SearchEvent(param) {
            if (!param) { param = {};}
            param= $.extend( {
                'StartTime': '@DateTime.Now.AddDays(-1).ToString(Common.Data.CommonFormat.DateFormat)',
                'EndTime': '@DateTime.Now.ToString(Common.Data.CommonFormat.DateFormat)',
                BeginRow: 1,
                EndRow: 30
            }, param);
            bindPostAjax('/ContactManage/QueryUinDataList',param,
               function (response, statue) {
                   if (!response.Success) {
                       layer.alert(response.Message, { title: lang.label.tip });
                       return;
                   }
                   var tmpl = $('.tmpl')[0].outerHTML;
                   var div = $('.dataRowArea');
                   var queryParam = response.AttachData;
                   $('.list').html(lang.tip.totla.format(response.Total) + ' ' + lang.tip.nowRecord.format(queryParam.BeginRow,queryParam.EndRow));
                   if (!$('#ckAppendDisplay').is(':checked')) {
                       $('.dataRowArea').empty();//采用非追加形式
                   }
                   $(response.Data).each(function (i, ele) {//疑难杂症？each内部不能调用到tmpl变量
                       $('#ckAllImg').prop('checked', false);
                       var ht = $('.tmpl')[0].outerHTML;
                       ht = ht.formatObject(ele);
                       ht = ht.replace("{i}", i);
                       ht = ht.replace('<img>', '<img src="{Url}" class="imgIcon">'.formatObject(ele));
                       $('.dataRowArea').prepend(ht);
                       $('.dataRowArea .tmpl:last [type=checkbox]').click(function () {//没有触发
                           debugger;
                       });
                       $($('.dataRowArea .tmpl:last [type=checkbox]')[0]).click(function () {
                           console.log($(this).attr('pid'));
                       });
                   });
                   $('.dataRowArea .tmpl [type=checkbox]').click(function () {
                       var ck = $(this);
                       //当前选择的列表数目
                       var ckAll = $('#ckAllImg');//选中全部 CheckBox
                       var checkedLen = $('.dataRowArea .tmpl [type=checkbox]:checked').length;//当前选中的数目
                       var ckLen = $('.dataRowArea .tmpl [type=checkbox]').length;//总共数目
                       if (ckAll.is(':checked')) {//之前为选中状态
                           ckAll.prop('checked', ck.is(':checked'));
                       }
                       else {
                           ckAll.prop('checked', checkedLen == ckLen);
                       }
                   })
               });
            $('#ckAllImg').click(function () {
                var ck = $(this).is(':checked');
                $('.dataRowArea .tmpl [type=checkbox]').prop('checked', ck);
            });
        }
    </script>
</head>
<body>
    <div>
        <div>@Lang.LblUinImgGroupManage</div>
        <div> @*query where*@
            <span>
                @*<label>@Lang.LblPickUpTime</label>*@
                <label>@Lang.LblBeginTime</label>
                <input type="text" onfocus="WdatePicker()" attr="StartTime" class="input-text Wdate columnLayout smallInput" value="@DateTime.Now.AddDays(-1).ToString(Common.Data.CommonFormat.DateFormat)" placeholder="选择时间" />
                <label>@Lang.LblEndTime</label>
                <input type="text" onfocus="WdatePicker()" attr="EndTime" class="input-text Wdate columnLayout smallInput" value="@DateTime.Now.ToString(Common.Data.CommonFormat.DateFormat)" placeholder="选择时间" />

            </span>   
            <span>
                <label>@Lang.LblUinAccount</label>
                <input type="text" />
            </span>
            <span>
                <label>
                    <span>@Lang.LblAppendDisplay</span>
                    <span><input type="checkbox" id="ckAppendDisplay" style="width: 30px;position: relative; top: 10px;" /></span>
                </label>
                <input type="button" class="button buttonSmall" id="btnQuery" value="@Lang.BtnQuery" />
            </span>
        </div>
        <div>
            <span>
                <label>
                    <span style="position:relative;top: -10px;">@Lang.LblSelectAll</span>
                    <input type="checkbox" class="ckImg" style="width: 30px;"  id="ckAllImg" />
                </label>
            </span>
            <span>
                <input type="button" class="button buttonSmall" id="btnQuery" value="@Lang.LblGroup" />
               
            </span>
            <span>
                <span class="list"></span>
            </span>
        </div>
        <div class="dataRowTmpl" style="display:none;">
            <div class="tmpl" style="border: 1px solid white; padding: 5px;width:147px;height:220px;">
                <span class="column">
                    <span style="display:none;">{i}</span>
                    <span>
                        <input type="checkbox" class="ckImg" style="width: 30px;" pid="{ID}" />
                        <span style="position: relative; top: -10px;"> {Uin}</span>
                    </span>
                    <span> {Nick}</span>
                    
                </span>
                <span class="column">
                    <img>
                </span>
                <span class="column">
                    <span>{Country} {Province} {City}</span>
                </span>
            </div>
        </div>
        <div class="dataRowArea">

        </div>
    </div>
</body>
</html>
