@using AppLanguage;
@using HRApp.Model;
@using HRApp.Web;
<script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
<script src="~/Scripts/layer3.0/layer.js?v=@InitAppSetting.Version"></script>
<link href="~/Scripts/bootstrap-select/bootstrap.min.css?v=@InitAppSetting.Version" rel="stylesheet" />
<script src="~/Scripts/bootstrap-select/bootstrap.min.js?v=@InitAppSetting.Version"></script>
<link href="~/Scripts/bootstrap-select/bootstrap-select.css?v=@InitAppSetting.Version" rel="stylesheet" />
<script src="~/Scripts/bootstrap-select/bootstrap-select.js?v=@InitAppSetting.Version"></script>
<link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
<style type="text/css">
    .OneCell {
        display: block;
        margin-bottom: 5px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('#btnClose').on('click', function () {
            if (parent) {
                var lay = parent.layer;
                lay.close(lay.index);
            }
        });
    });
</script>
<div id="reportDiv" style="margin:20px;">
    @if (ViewData["optionId"]!=null) 
    {
        <input type="hidden" value="@ViewData["optionId"]" id="txtTargetId" apiKey="Id"/>
        <input type="hidden" value="@ViewData["optionTable"]" id="txtOptionTable" apiKey="Table" />
    }
    @*举报的对话框*@
    <span class="OneCell">
        <label>@Lang.LblReportingType ：</label>
        <select class="selectpicker" data-live-search="true">
            <option value="0">@Lang.Tip_PleaseSelect</option>
            @foreach (var item in ViewData[EAppSetting.ReportEnum.ToString()] as List<CategoryItems>)
            {
                <option value="@item.ItemValue">@item.Name</option>
            }
        </select>
    </span>
    <span class="OneCell">
        <label>@Lang.LblDesc ：</label>
        <textarea id="txtNote" style=" width: 220px;height:100px;"></textarea>
    </span>
</div>
@if ((bool)ViewData["usingParentWinSelfTool"] != true)
{
    <div>
        <input type="button" class="button buttonSmall" id="btnSave" value="@Lang.BtnSave" />
        <input type="button" class="button buttonSmall" id="btnClose" value="@Lang.BtnClose" />
    </div>
}
