@using AppLanguage;
@using HRApp.Web;
@model HRApp.Model.CategoryItems
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>系统配置</title>
    <link href="~/Scripts/bootstrap-select/bootstrap.min.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-select/bootstrap-select.css?v=@InitAppSetting.Version" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.7.2.js?v=@InitAppSetting.Version"></script>*@
    <script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
    @*<link href="~/Scripts/jquery.combo.select.js/combo.select.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/jquery.combo.select.js/jquery.combo.select.js?v=@InitAppSetting.Version"></script>*@
    <script src="~/Scripts/layer3.0/layer.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
    <link href="~/Content/HtmlEle.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/Common/HtmlEleExt.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/bootstrap-select/bootstrap.min.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/bootstrap-select/bootstrap-select.js?v=@InitAppSetting.Version"></script>
    <link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <style type="text/css">
        
    </style>
    <script type="text/javascript">
        $(function () {
            bindPostAjax('/AppSettingManage/QueryRootAppSetting', {}, function (response, statue) {
                var data = [
                    {
                        id:'-1',text:'请选择',parentId:'-1',parentCode:'-1'
                    }
                ]
                if (response.Success) {

                }
                console.log(response);
            });
            $('#btnSave').on('click', function () {
                var root = $(".ApiParam");
                var valid= ValidEleIsRequired(root, '.required')
                if (!valid) {
                    return;
                }
                var api = GetXPathObject(root, "apiKey");
                var slt = $('[apiKey=ParentCode]');
                //该插件是什么类型
                var data = null;
                if (slt.hasClass('selectpicker')) {//bootstrap select插件下拉框
                    data = $('[apiKey=ParentCode]').find("option:selected");
                } else if (slt.hasClass('jq22')) {//jq的combobox插件
                    var data = slt.getSelected();
                } else {
                    data = $('[apiKey=ParentCode]').find("option:selected");
                }
                if (data) {
                    api["ParentId"] = $(data).attr('ParentId');
                }
                if (!api["ParentId"]) {
                    api["ParentId"] = -1;
                }
                //判断是进行编辑还是保存
                bindPostAjax('/AppSettingManage/SaveAppSetting', api, function (response, statue) {
                    AjaxWarming($('#btnSave'), response);
                    console.log(response);
                });
            });
            var cmb = $('[apikey=ParentCode]');
            cmb.selectpicker();
            //在UI渲染完毕（加载出该选择框）之后 该元素ParentCode的兄弟节点role="combobox"下的输入框aria-label="Search"
            BindBootStrapSelect(cmb, function () {
                bindPostAjax('/AppSettingManage/QueryNodesByIndex', {
                    keySpell: $('[apiKey=ParentCode]').text()
                }, function (response, statue) {
                    //AjaxWarming($('#btnSave'), response);
                    console.log(response);
                });
            });
            $('#btnClose').on('click', function () {
                if (parent) {
                    var lay = parent.layer;
                    lay.close(lay.index);
                }
            });
        });
        function BindBootStrapSelect(cmb,enterEvennt) {
            cmb.siblings('.dropdown-menu').find('[aria-label=Search]').on('keydown', function (e) {//keypress 不能获取组合键 keyup 不能获取shift+Enter组合键
                //console.log(e);
                if (e.altKey && e.keyCode == 13) {//组合键 Alt+Entre
                    console.log('组合键');
                    enterEvennt();
                }
            });
        }
    </script>
</head>
<body>
    <div class="ApiParam">
        <div>
            <input type="hidden" id="txtId" value="@Model.Id"/>
        </div>
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblName :</span>
            <span>
                <input type="text" value="@Model.Name" id="txtName" apiKey="Name" autocomplete="off" class="required" /> @* autocomplete关闭自动记忆功能*@ @*apiKey 调用接口中匹配json的对象属性*@
            </span>
        </div>
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblParentCode :</span>
            <span style="display: inline-table;">
                <select class="selectpicker" data-live-search="true" apikey="ParentCode" style="width:250px;">
                    <option value="">@AppLanguage.Lang.Tip_PleaseSelectParentNode</option>
                    @{
                        foreach (HRApp.Model.CategoryItems item in ViewData["ParentNode"] as List<HRApp.Model.CategoryItems>)
                        {
                            if (@Model.Code!="-1"&& @Model.ParentCode == item.Code)
                            {
                                <option selected="selected" appvalue="@item.ItemValue" value="@item.Code" parentid="@item.Id" nodeparentid="@item.ParentId">@item.Name</option>
                            }
                            else
                            {
                                <option  appvalue="@item.ItemValue" value="@item.Code" parentid="@item.Id" nodeparentid="@item.ParentId">@item.Name</option>
                            }
                        }
                     }
                </select>
            </span>
        </div>
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblCode :</span>
            <span>
                <input type="text" value="@Model.Code" id="txtMemnorideCode" apikey="Code" class="required" autocomplete="off" />
            </span>
        </div>
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblAppSetValue :</span>
            <span>
                <input type="text" value="@Model.ItemValue" id="txtDescription" class="required" apikey="Value" />
            </span>
        </div>
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblDescription :</span>
            <span>
                <textarea  id="txtDescription" apikey="Desc">@Model.ItemDesc</textarea>
            </span>
        </div>
    </div>
    @if (Model.Id == 0)
    {
        <div>
            <button id="btnSave" class="button">@Lang.BtnSave</button>
            <button id="btnClose" class="button">@Lang.BtnClose</button>
        </div>
    }
</body>
</html>
