@using AppLanguage;
@using HRApp.Web;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>系统配置</title>
    <link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.7.2.js?v=@InitAppSetting.Version"></script>*@
    <script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
    <link href="~/Scripts/jquery.combo.select.js/combo.select.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/jquery.combo.select.js/jquery.combo.select.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
    <style type="text/css">
       
    </style>
    <script type="text/javascript">
        $(function () {
            $('#btnSave').on('click', function () {
                var api = GetXPathObject($(".ApiParam"), "apiKey");
                bindPostAjax('/AppSettingManage/SaveAppSetting', api, function (response, statue) {
                    console.log(response);
                });
            });
            $('.bindSelect>input').focus(function (e, ele) {
                var slt = $(this).siblings();
                if (slt.first('select').length < 1) {
                    slt = slt.find('select');
                }
                else {
                    slt = slt.first('select');
                }
                $(slt).show();
                console.log('click');
            }).blur(function (e, ele) {
                var slt = $(this).siblings();
                if (slt.first('select').length < 1) {
                    slt = slt.find('select');
                }
                else {
                    slt = slt.first('select');
                }
                $(slt).hide();
                console.log('leave');
            });
            $('select').comboSelect({maxHeight:100,width:100});
        });
        function GetXPathObject(rootEle, apiKeyAttr) {
            var obj = {};
            if (!rootEle) {
                return obj;
            }
            if (!apiKeyAttr) {
                apiKeyAttr = "apiKey";
            }
            var data = [];
            $.each($(rootEle).find('input,textarea,select'),function (i, ele) {
                var objEle = $(ele);
                //这里不能访问到具局部变量data
            });
            var paramEles=$(rootEle).find('input,textarea,select');
            for (var i = 0; i < paramEles.length; i++) {
                var objEle = $(paramEles[i]);
                obj[objEle.attr(apiKeyAttr)] = objEle.val();
            }
            return obj;
        }
        
    </script>
</head>
<body>
    <div class="ApiParam">
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblName :</span>
            <span>
                <input type="text" id="txtName" apiKey="Name" autocomplete="off" /> @* autocomplete关闭自动记忆功能*@ @*apiKey 调用接口中匹配json的对象属性*@
            </span>
        </div>
        @* autocomplete关闭自动记忆功能*@ @*apiKey 调用接口中匹配json的对象属性*@
        @*<div class="alongLine">
            <span style="width:100px;">@Lang.LblParentCode :</span>
            <span style="display: grid;height:50px;" class="bindSelect">
                <input type="text" id="txtName" apikey="ParentCode" autocomplete="off" /> 
                <select class="select" apikey="ParentCode" style="display:none;">
                    <option value="-1">@AppLanguage.Lang.Tip_PleaseSelect</option>
                </select>
            </span>
        </div>*@
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblParentCode :</span>
            <span class="jq22" style="display: inline-table;">
                <select apikey="ParentCode">
                    <option value="">@AppLanguage.Lang.Tip_PleaseSelectParentNode</option>
                    @{
                        foreach (HRApp.Model.CategoryItems item in ViewData["ParentNode"] as List<HRApp.Model.CategoryItems>)
                        {
                            <option value="@item.Code">@item.Name</option>
                        }
                        
                    }
                </select>
            </span>
        </div>

        <div class="alongLine">
            <span style="width:100px;">@Lang.LblCode :</span>
            <span>
                <input type="text" id="txtMemnorideCode" apikey="Code" autocomplete="off" />
            </span>
        </div>
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblAppSetValue :</span>
            <span>
                <input type="text" id="txtDescription" apikey="Value"/>
            </span>
        </div>
        <div class="alongLine">
            <span style="width:100px;">@Lang.LblDescription :</span>
            <span>
                <textarea id="txtDescription" apikey="Desc"></textarea>
            </span>
        </div>
    </div>
    <div>
        <button id="btnSave" class="button">@Lang.BtnSave</button>
    </div>
</body>
</html>
