@using AppLanguage
@using HRApp.Web
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Lang.LblCompanyList</title>
    <link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/layer3.0/layer.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/layer3.0/layer.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Lang.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/string.js?v=@InitAppSetting.Version"></script>
    <link href="~/Content/HtmlEle.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script type="text/javascript">
        var btns = [
            { url: '/CommonDialog/SampleDataDialog', id: 'btnAddOrderData', text: lang.cmd.btnNewAdd, title: lang.orderItems.addDialog },
            { url: '/OrganizationManage/OrganzeDialog', id: 'btnEditOrderData', text: lang.cmd.btnEdit, title: lang.orderItems.editDialog, param: 'oid' }
        ];
        var tmpl = '<button id="{id}" class="button buttonSmall" link="{url}">{text}</button>';
        $(function () {
            //渲染button按钮
            // var btnTool = $('.btns');//无法访问到这个变量
            $(btns).each(function (i, ele) {
                var btnTool = $('.btns');
                tmpl = tmpl.replace('{url}', ele.url + ($.trim(ele.param) != '' ? '?' + ele.param : ''));
                var btn = tmpl.formatObject(ele);
                btnTool.append(btn);
                btnTool.find('.buttonSmall:last').click(function (i, e) {
                    var el = $(this);
                    if (el.attr('param') != '') {//需要选择具体数据进行编辑

                    }
                    var link = el.attr('link');
                    var title = el.text();
                    openDialog(link, title);
                });
            });
        });
        function openDialog(url, title) {
            var at = parent ? parent.layer : layer;
            at.open({
                content: url,
                type: 2,
                area: ['300px', '350px'],
                id: 'dialog',
                title: title,
                btn: [
                    '@Lang.BtnSave', '@Lang.BtnClose'
                ],
                yes: function (index,lay) {

                },
                btn2: function (index,lay) {

                }
            });
        }
    </script>
</head>
<body>
    <div>
        <div id="tool">
            <span>
                <span>
                    <label>@Lang.LblName</label>
                    <input type="text" id="txtName" />
                </span>
                <span>
                    <label>@Lang.LblKeyWord</label>
                    <input type="text" id="txtKeyWord" />
                </span>
                <span>
                    <button id="btnQuery" class="button buttonSmall">@Lang.BtnQuery</button>
                </span>
                <span class="btns">

                </span>
            </span>
        </div>
        <div id="grid">

        </div>
    </div>
</body>
</html>
