@using AppLanguage
@using HRApp.Web
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignInAccount</title>
    <link href="~/Content/AppLayout.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Lang.js?v=@InitAppSetting.Version"></script>
    <script src="~/Scripts/Common/Common.js?v=@InitAppSetting.Version"></script>
    <link href="~/Content/HtmlEle.css?v=@InitAppSetting.Version" rel="stylesheet" />
    <script src="~/Scripts/Common/HtmlEleExt.js?v=@InitAppSetting.Version"></script>
    <script type="text/javascript">
        $(function () {
            $('#btnSave').click(function () {
                var area = $('.ApiParam');
                var api = GetXPathObject(area, "apiKey");
                var reg = /^[A-Za-z0-9]+$/;//  /^[a-z\d]*$/i
                if (!reg.test(api.UserName)) {
                    layer.alert('用户名只能为数字或字符串','@Lang.LblTip');
                    return;
                }
                bindPostAjax('/AppAccountManage/SignInAccountData', api, function (response, statue) {
                    if (!response.Success) {
                        layer.alert(response.Message);
                        return;
                    }
                    layer.alert('@Lang.Tip_Success', '@Lang.LblTip');
                    window.open(window.location.href + 'Home/Index?Uid=' + response.AttachData.UserName);//页面跳转
                    //关闭当前页面
                    CloseChrome();
                });
            });
        });
    </script>
</head>
<body>
    <div>
        <div class="ApiParam">
            <span class="alongLine">
                <span>
                    <label>@Lang.LblNick</label>
                </span>
                <span>
                    <input type="text" id="txtNick" apikey="Nick" />
                </span>
            </span>
            <span class="alongLine">
                <span>
                    <label>@Lang.LblUserName</label>
                </span>
                <span>
                    <input type="text" id="txtUserName" apikey="UserName" />
                </span>
            </span>
            <span class="alongLine">
                <span>
                    <label>@Lang.LblPassword</label>
                </span>
                <span>
                    <input type="text" id="txtPsw" apikey="Psw" />
                </span>
            </span>
            <span class="alongLine">
                <span>
                    <label>@Lang.LblConfirmPassword</label>
                </span>
                <span>
                    <input type="password" id="txtConfirmPsw" apikey="PswConfirm" />
                </span>
            </span>
        </div>
        <div>
            <button class="button" id="btnSave">@Lang.BtnSave</button>
        </div>
    </div>
</body>
</html>
